* {
    box-sizing: border-box;
}


.main-header {
    background-color: rgb(187, 187, 187);
    color: lightseagreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Lato', sans-serif;
}


.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header-container .logo a {
    display: flex;
    color: lightseagreen;
    text-decoration: none;
    align-self: center;
    margin-inline-start: 30px;
}

.main-nav {
    display: flex;
    list-style-type: none;
}


.main-nav li button {
    margin-inline-start: 30px;
    text-decoration: none;
    color: lightseagreen;
    font-size: 2em;
    margin-inline-end: 30px;
    border: none;
    background: none;
    cursor: pointer;

}

.canvas-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 31.25em;
    height: 31.25em;
}

.gallery-container {

    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-block-start: 10px;

}

.gallery-container img {
    height: 150px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
}

.gallery-container img:hover {
    border: 3px solid lightseagreen;
    opacity: 0.8;
    transition: opacity 0.5s;
}


.meme-generator {
    margin-block-start: 50px;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.file-input,
.ctrl-btn {
    margin-block-start: 10px;
    font-size: 1.2em;
    color: aliceblue;
    background-color: rgb(120, 120, 120);
    margin-inline-end: 3px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.txt-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid lightseagreen;
    height: 30px;
    width: 250px;
    font-size: 1.3em;
    margin: 0;
    margin-right: 5px;
}

.color-btn {
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
}

.download {
    margin-block-start: 20px;
}

.txt-color {
    display: flex;
    align-items: center;
}

.square-btn {
    height: 50px;
    width: 50px;
}

.file-input {
    max-width: 298px;
}

@media screen and (max-width:780px) {
    .meme-generator {
        flex-direction: column;
        margin-block-start: 5px;
    }

    .ctrl-btn {
        font-size: 2em;
    }

    .gallery-container {
        width: 100vw;
    }

    .gallery-container img {
        height: 100px;
        width: 100px;
    }

    .canvas-el {
        width: 18.75em;
        height: 18.75em;
    }

    .canvas-container {
        width: 18.75em;
        height: 18.75em;
    }

    .main-header-container .logo a {
        font-size: 16px;
    }

    .main-nav li button {
        font-size: 16px;
    }

    .controls {
        width: 100vw;
    }

    .square-btn {
        height: 40px;
        width: 40px;
        font-size: 1em;
    }

}