* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.canvas-bg {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-footer,
.main-header {
    background-color: rgb(187, 187, 187);
    color: lightseagreen;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-family: 'Lato', sans-serif;
}


.main-footer {
    position: absolute;
    bottom: 0;
    width: 99.5%;
    padding: 0.5em;
    font-size: 2em;
    text-align: center;
    margin-block-end: 20px;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo a {
    display: flex;
    color: lightseagreen;
    text-decoration: none;
    align-self: center;
    margin-inline-start: 30px;
    padding: 0;
}

.lang-btn {
    height: 40px;
    cursor: pointer;
}

.lang-btn:last-of-type {
    margin-inline-end: 30px;
}

.main-nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}


.main-nav li button {
    margin-inline-start: 30px;
    text-decoration: none;
    color: lightseagreen;
    font-size: 2em;
    margin-inline-end: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.main-nav li button:last-child {
    padding: 0;
}

.canvas-container {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 500px;
    height: 500px;
}

.saved-container,
.gallery-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-block-start: 10px;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightseagreen;
}

.gallery-container img {
    height: 150px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.gallery-container img:hover {
    border: 3px solid lightseagreen;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.saved-meme {
    position: relative;
    display: grid;
    font-size: 1em;
    border: 3px solid lightblue;
    border-radius: 10px;
    justify-items: center;
    padding: 3px;
    margin: 0;
    padding: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: lightgrey;
    color: rgb(76, 76, 76);
}

.saved-meme:hover {
    transform: scale(102%);
    transition: 0.4s;
}

.saved-meme img {
    cursor: pointer;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.del-btn {
    background-color: transparent;
    position: absolute;
    right: -18px;
    top: -18px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.meme-generator {
    margin-block-start: 50px;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.controls {
    display: grid;
    padding: 0px 36px;
    grid-row-gap: 48px;
}

.grid-item:last-child {
    margin-bottom: -48px;
}

.download,
.mod-btns,
.resize-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.upload-label,
.file-input,
.ctrl-btn {
    margin: 0;
    font-size: 1.2em;
    color: aliceblue;
    background-color: rgb(120, 120, 120);
    border-radius: 3px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#file-input {
    display: none;
}

.clear-btn {
    width: 100%;
}

.txt-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid lightseagreen;
    height: 65px;
    font-size: 1.6em;
    color: gray;
    margin: 0;
}

.color-btn {
    border: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
}

.txt-color {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.txt-color span {
    font-family: 'Lato', sans-serif;
    color: rgb(75, 75, 75);
}

.square-btn {
    flex: 1;
    aspect-ratio: 1;
}

.rect-btn {
    flex: 1;
}

.file-input {
    max-width: 298px;
}


.s-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 199, 20);
    transition: transform 1s ease-out;
    border: 1px solid black;
    transform: scale(1.03);
}


.db {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:780px) {
    body {
        overflow-x: hidden;
    }

    .meme-generator {
        flex-direction: column;
        margin-block-start: 5px;
    }

    .saved-container,
    .gallery-container {
        width: 100vw;
    }

    .txt-color {
        width: 100vw;
    }

    .controls {
        padding: 0;
        grid-row-gap: 5px;
        margin-block-start: 5px;
        width: 100%;
    }

    .main-header .logo a {
        display: none;
    }

    .main-header {
        justify-content: unset;
    }

    .saved-container img,
    .gallery-container img {
        height: 100px;
        width: 100px;
    }

    .main-footer {
        display: none;
    }

    .main-nav li button {
        margin-inline-end: 5px;
        margin-inline-start: 5px;
    }

    .nav-btn {
        font-size: 1.2rem !important;
    }

    .canvas-container {
        width: 100%;
        height: unset;
        box-shadow: unset;
    }

    .canvas-el {
        aspect-ratio: 1/1;
        width: 100%;
        height: unset;
    }

    .dm-btn {
        display: none;
    }
}